.app-wrap{
    display: flex;
    gap: 15px;
    padding: 10px;
}

.register-form{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    width: fit-content;

    border: 1px solid black;
}

.register-form__avatar{
    width: 100px;
    height: auto;
}

.register-form__avatar-selection-wrap{
    display: flex;
    align-items: flex-start;
}

.register-form label{
    display: flex;
    justify-content: space-between;

    gap: 15px;
}

.register-form__user-input-wrap{
    display: inline-flex;
    flex-direction: column;
}

.users-list-wrap{
    display: inline-flex;
    flex-direction: column;
}

.users-list-wrap h4{
    margin-top: 0px;
}

.users-container{
    display: flex;
    gap: 20px;
}